.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row.pb-3.card_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.card_block > .col-lg-3.col-md-6 {
    width: 23%;
    align-self: stretch;
}
.card_block > .col-lg-3.col-md-6 .row.p-2 {
    height: 100%;
}
.card_block > .col-lg-3.col-md-6 .col-12.p-1 {
    height: 100%;
    border: 1px solid #008cba;
    border-radius: 5px;
    position: relative;
    padding: 0 !important;
    padding-bottom: 30px !important;
}
.card_block > .col-lg-3.col-md-6 .col-12.p-1 > div:not(.card) {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.card_block .card {
  border:none;
}

@media screen and (max-width: 768px) {
    .row.pb-3.card_block {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .card_block > .col-lg-3.col-md-6 {
        width: 100%;
    }
}