@model int
 
<div class="container row">
     <div class="col-12 text-center">
         <h1 class="text-primary text-center">Order Placed Successfully</h1>
         Your Order Number is : @Model <br /> <br />
         <img src="~/images/lawn-leaf.jpeg" witdh="65%" />
     </div>
    <div class="col-12 text-center" style="color:marron;">
        <br />
        Your order has been placed successfuly! <br />

    </div>
 </div>